<link rel='stylesheet' href='/css/signin.css'>

<div>
  <h1> Enter the email id </h1>
  <div>
    <form action='/users/sendlink' method="POST">
          <input type="text" name='email' placeholder="  Email" required>
          <br>
          <button type='submit'>Send link</button>    
        </form>
    </div>
    </div>