
   <link rel="stylesheet" href="/css/signup.css">
   
    <form action="/users/create" method="post">
        <h3>signup Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Enter you name" id="username" name="name" required>

        <label for="email">email</label>
        <input type="email" placeholder="Email " id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <label for="password">re enter Password</label>
        <input type="password" placeholder="Re enter password" id="repassword" name="repassword"required>

        <button type="submit">Sign up</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i> <a href="/users/auth/google" method="get"> Google</a></div>
          <!-- <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> -->
        </div>
    </form>

