
   <link rel="stylesheet" href="/css/signin.css">
    <form action="/users/createsession" method="post">
        <h3>Login Here</h3>

        <label for="email">email</label>
        <input type="email" placeholder="Email " id="username" name="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <button type="submit">Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i><a href="/users/auth/google" method="get">Google</a></div>
          <!-- <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> -->
          <div class="fb"><a href="/users/sign-up" method="get">signup</a></div>
          <div class="fb">
            <a href='/users/forgotpage' target="_blank"> forgot password? </a>
        </div>
        </div>
    </form>
    

