<style>
    div{
        margin-top: 40px;
        margin-left: 150px;
    }

   h2{
       
       color: whitesmoke;
   }
</style>

<div>
<h2>log in successfully</h2>
<button><a href="/signout" method="get">sign out</a></button>
<h2><%= locals.user.name %></h1>
<button><a href="/resetpassword" method="get"> reset password</a></button>
<button><a href="/delete" method="get"> delete account</a></button>
</div>